<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <div>
        <h2>Contact Me!</h2>
        <div>
            <form>
                <div>
                    Name: <input type="text" name="name"><br>
                    Email: <input type="text" name="email"><br>
                </div>
                <div>
                    <p>Message</p>
                    <textarea name="message" rows="5" cols="5"></textarea>
                </div>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
</body>
</html>