<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <div>
        <h2>About Me</h2>
    </div>
    <div>
        <div>
            <img src="" alt="Self Photo">
            <p>Moose Phillips</p>
            <p>I like stuff!</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra quam dolor. Quisque fringilla turpis ex. Sed eget arcu pretium, vestibulum augue in, vehicula velit. Maecenas dictum et lectus non tincidunt. Donec dapibus elit ac ipsum fringilla, sit amet molestie purus imperdiet. Vivamus eu dolor augue. Donec ultricies porttitor pulvinar. Nulla facilisi. Donec felis sem, mollis sit amet malesuada ac, sagittis vitae mi. Phasellus quis risus ut ex egestas vehicula. Proin posuere urna ac turpis pulvinar tristique. Phasellus consequat, orci vel tempor dictum, nunc arcu congue ligula, quis vestibulum nulla ex nec risus. Aliquam sed purus vel dui ultrices lobortis.</p>
        </div>
    </div>
</body>
</html>